---
export async function getStaticPaths() {
  const res = await fetch("https://ryoccom.com/?rest_route=/wp/v2/posts/")
  const posts = await res.json()

  const paths = posts.map((post) => ({
    params:{
      id: post.id
    }
  }))
  return paths
}

const { id } = Astro.params
const res_post = await fetch(`https://ryoccom.com/?rest_route=/wp/v2/posts/${id}`)
const post = await res_post.json()

import '../../css/global.css';
import BaseLayout from '../../layouts/BaseLayout.astro';

---

<BaseLayout metaTitle={post.title.rendered} metaeDesc={post.meta_field.meta_description} metaKeyword={post.meta_field.meta_keyword}>
  <div class="content">
    <h1 set:html={post.title.rendered} />
    <div set:html={post.content.rendered} />
    <p><a href="/">戻る</a></p>
  </div>
</BaseLayout>