---
const res = await fetch("https://ryoccom.com/?rest_route=/wp/v2/posts/")
const posts = await res.json()

import '../css/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

//カテゴリーの名前取得
const categoryMap = new Map();
posts.forEach(post => {
  // ここでは、post.category_id がカテゴリーのIDを表すと仮定
  categoryMap.set(post.category_name, post.categories);
});

//meta title keyword descriptionの設定
const metaTitle = "ブログページ";
const metaeDesc = "Astroの練習用のページのブログ一覧";
const metaKeyword = "Astroの練習用のページ,blog,Astro,study";
---

<BaseLayout metaTitle={metaTitle} metaeDesc={metaeDesc} metaKeyword={metaKeyword}>
  <h1>Astro</h1>
		<div class="wrapper">
			<section>
				<h2>カテゴリー一覧</h2>
        <div class="category-list">
          <ul>
            {Array.from(categoryMap).map(([name, id]) => (
              <li key={id}>
                <a href={`/category/${id}`}>
                  <p>{name}</p>
                </a>
              </li>
            ))}
          </ul>
        </div>
      </section>
      <section>
        <h2>記事一覧</h2>
        <div class="article-list">
				<ul>
					{posts.map((post) =>
					<li>
						<a href={`/blog/` + post.id}>
						<article>
							<h3 set:html={post.title.rendered} />
							<time datetime="">{post.date.substring(0 , 10)}</time>
							<div set:html={post.excerpt.rendered} />
						</article>
					</li>
					)}
				</ul>
			</div>
      </section>
			
		</div>
</BaseLayout>
