---
const res = await fetch("https://ryoccom.com/?rest_route=/wp/v2/posts")
const posts = await res.json()

import '../css/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

//カテゴリーの名前取得
const categoryMap = new Map();
posts.forEach(post => {
  categoryMap.set(post.category_details.name, post.categories);
});

const total = await res.headers.get('x-wp-totalpages')

//meta title keyword descriptionの設定
const metaTitle = "ブログページ";
const metaeDesc = "Astroの練習用のページのブログ一覧";
const metaKeyword = "Astroの練習用のページ,blog,Astro,study";
---

<BaseLayout metaTitle={metaTitle} metaeDesc={metaeDesc} metaKeyword={metaKeyword}>
  <h1>Astro</h1>
		<div class="wrapper">
			<section>
				<h2>カテゴリー一覧</h2>
        {categoryMap.size > 0 ? (
          <div class="category-list">
            <ul>
              {Array.from(categoryMap).map(([name, id]) => (
                <li key={id}>
                  <a href={`/categories/${id}`}>
                    <p>{name}</p>
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ) : (
          <p>カテゴリーは登録されていません。</p>
        )}
      </section>
      <section>
        <h2>記事一覧</h2>
        <div class="article-list">
          {posts.length > 0 ? (
            <ul>
              {posts.map((post) => (
                <li key={post.id}>
                  <a href={`/blog/` + post.id}>
                    <article>
                      <h3 set:html={post.title.rendered} />
                      <time datetime="">{post.date.substring(0, 10)}</time>
                      <div set:html={post.excerpt.rendered} />
                    </article>
                  </a>
                </li>
              ))}
            </ul>
          ) : (
            <p>投稿がありません。</p>
          )}          
			</div>
      </section>
      <div class="pagenation">
        <ul>
            {
                [...Array(Number(total))].map((posts, index) => (
                    <li><a href={`/blog/page/${index + 1}/`}>{index + 1}</a></li>
                ))
            }
        </ul>
      </div>
			
		</div>
</BaseLayout>
