---
const res = await fetch("https://ryoccom.com/?rest_route=/wp/v2/posts/")
const posts = await res.json()

import '../css/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';



//meta title keyword descriptionの設定
const metaTitle = "ホームページ";
const metaeDesc = "Astroの練習用のページ";
const metaKeyword = "Astroの練習用のページ,Astro,study";

---

<BaseLayout metaTitle={metaTitle} metaeDesc={metaeDesc} metaKeyword={metaKeyword}>
  <h1>Astro</h1>
		<div class="wrapper">
			<section>
				<h2>Blog記事</h2>
			</section>
			<div class="article-list">
				<ul>
					{posts.map((post) =>
					<li>
						<a href={`/blog/` + post.id}>
						<article>
							<h3 set:html={post.title.rendered} />
							<time datetime="">{post.date.substring(0 , 10)}</time>
							<div set:html={post.excerpt.rendered} />
						</article>
					</li>
					)}
				</ul>
			</div>
		</div>
</BaseLayout>
